namespace: opentelemetry-demo
kubernetesClusterDomain: cluster.local

serviceAccount:
  name: opentelemetry-demo
  version: ">=1.32.0-0"
  partOf: opentelemetry-demo

opentelemetryDemoFrontend:
  frontend:
    containerSecurityContext:
      runAsGroup: 1001
      runAsNonRoot: true
      runAsUser: 1001
    env:
      adServiceAddr: opentelemetry-demo-ad:8080
      cartServiceAddr: opentelemetry-demo-cart:8080
      checkoutServiceAddr: opentelemetry-demo-checkout:8080
      currencyServiceAddr: opentelemetry-demo-currency:8080
      flagdHost: opentelemetry-demo-flagd
      flagdPort: "8013"
      frontendAddr: :8080
      frontendPort: "8080"
      otelCollectorHost: $(OTEL_COLLECTOR_NAME)
      otelCollectorName: opentelemetry-demo-otelcol
      otelExporterOtlpEndpoint: http://$(OTEL_COLLECTOR_NAME):4317
      otelExporterOtlpMetricsTemporalityPreference: cumulative
      otelResourceAttributes: service.name=$(OTEL_SERVICE_NAME),service.namespace=opentelemetry-demo,service.version=2.1.3
      productCatalogServiceAddr: opentelemetry-demo-productcatalog:8080
      publicOtelExporterOtlpTracesEndpoint: http://localhost:8080/otlp-http/v1/traces
      recommendationServiceAddr: opentelemetry-demo-recommendation:8080
      shippingServiceAddr: opentelemetry-demo-shipping:8080
      webOtelServiceName: frontend-web
    image:
      repository: ghcr.io/open-telemetry/demo
      tag: 2.1.3-frontend
    imagePullPolicy: IfNotPresent
    resources:
      limits:
        memory: 250Mi
  replicas: 1
  revisionHistoryLimit: 10
  ports:
  - name: tcp-service
    port: 8080
    targetPort: 3000
  type: ClusterIP
